<%- include("partials/header") -%>
<body>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
        <div class="form-group ">
           <label >Title</label>
            <input class="form-control" type="text" name="postTitle" placeholder="Enter a Title">
            <label>Post</label>
            <textarea class="form-control" name="postBody" cols="40" rows="5" > </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>


</body>